<!DOCTYPE html>
<html lang="en">
	<head>
	<title>Blog</title>
	<meta charset="utf-8">
	<link rel="icon" href="img/favicon.ico" type="image/x-icon">
	<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />
	<meta name="description" content="Your description">
	<meta name="keywords" content="Your keywords">
	<meta name="author" content="Your name">
	<link rel="stylesheet" href="css/bootstrap.css" type="text/css" media="screen">
	<link rel="stylesheet" href="css/responsive.css" type="text/css" media="screen">
	<link rel="stylesheet" href="css/style.css" type="text/css" media="screen">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/superfish.js"></script>
	<script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
	<script type="text/javascript" src="js/jquery.cookie.js"></script>   
    
	<script type="text/javascript">if($(window).width()>1024){document.write("<"+"script src='js/jquery.preloader.js'></"+"script>");}	</script>
	<script>		
		 jQuery(window).load(function() {	
		 $x = $(window).width();		
	if($x > 1024)
	{			
	jQuery("#content .row").preloader();}	
	
	jQuery(".list-blog li:last-child").addClass("last"); 
	jQuery(".list li:last-child").addClass("last"); 

	
    jQuery('.spinner').animate({'opacity':0},1000,'easeOutCubic',function (){jQuery(this).css('display','none')});	
  		  }); 
					
	</script>

	</head>

	<body>
<div class="bg-content">       
<div id="content">
<div class="container">
<div class="row">
<div class="inner-1">         
<div class="box-404">
<h2>About Us</h2>
<hr>
<br>
<div class="muted">
<p>Welcome to www.telanganaplaces.com An OpenSource web application from OpenResponsive for Telangana Tourism
<br>
<div class="wrapper">
<ul class="list extra2 list-pad ">
<li><a href="#">Divine Destinations</a></li>
<li><a href="#">Wildlife places</a></li>
<li><a href="#">Museums</a></li>
<li><a href="#">Buddhist Destinations</a></li>
<li><a href="#">Foarts</a></li>
</ul>
<ul class="list extra2">
  <li><a href="#">Adventure places</a></li>
  <li><a href="#">Boating places</a></li>
  <li><a href="#">Natural places</a></li>
  <li><a href="#">Heritage places</a></li>
</ul>
</div>
<br>
<blockquote class="text-warning">IT IS THE FIRST ONLINE REPOSITORY OF MAPS SINCE 2009</blockquote>
We have started this website on Telangana Tourism with an intention to encourage and project the greatness and uniqueness of Telangana in terms of Tourism and Culture.
Apart from places, www.telanganaplaces.com also covers history of Telangana, Telangana Festivals, Famous personalities of Telangana and great events of Telangana.
We are in the process of bringing and publishing all the Telangana attractions.
<br>
<br>
Please help us with your contributions:
<ul class="list extra extra1">           
  <li>Place of interest (temples, tourist spots, nature scape, waterfalls, etc)</li>
  <li>Famous/great people</li>
  <li>Cultural activities, Jatharalu, etc)</li>
  <li>Any unique Telangana cuisine, eatables, specials, etc</li>
  <li>Any specialities of the locality (Tea stall near Karimnagar Kaman, Hot Mirchi of Warangal etc)</li>
</ul>
<br>
<br>
Contact:
<br>
<ul>           
  <li>email id: telanganaplaces@gmail.com</li>
  <li>Dheeraj sharma Chilappagari : dheeru.manthani@gmail.com +91-7702147819</li>
  <li>Sai Kiran Mothe : saikiran.mothe@gmail.com  +91-9652510801</li>
</ul>
</div>
</div>
</div> 
</div>
</div>
</div>
</div>
</body>
</html>