<div class="bg-content">
      <div class="container">
    <div class="row">
          <div class="span12"> 

        <!--============================== slider =================================-->
        <h2 id="dheeraj" class="text-center"> What We Do ?</h2><hr>
        <div class="flexslider">
              <ul class="slides">
            <li> <img src="/assets/11.jpg" alt="" > </li>
            <li> <img src="/assets/12.jpg" alt="" > </li>
            <li> <img src="/assets/13.jpg" alt="" > </li>
            <li> <img src="/assets/14.jpg" alt="" > </li>
            <li> <img src="/assets/15.jpg" alt="" > </li>
<!--             <li> <img src="/assets/16.jpg" alt="" > </li>
 -->          </ul>
            </div>
        <span id="responsiveFlag"></span>
        <div class="block-slogan">
              <h2 id="dheeraj">Dheeraj Sharma - Founder!</h2>
              <div>
            <p>"It would not be possibel for me to make telangana places with out you help,your contribution to telangana places is awsom.you are responsible for every request and response life cycle of telangana places,special credit goes to Mr.Saikiran Mothe" - Dheeraj Sharma</p>
          </div>
            </div>
      </div>
        </div>
  </div>
      
      <!--============================== content =================================-->
      
      <div id="content" class="content-extra"><div class="ic"></div>
    <div class="row-1">
          <div class="container">
        <div class="row">
              <ul class="thumbnails thumbnails-1">
            <li class="span3">
                  <div class="thumbnail thumbnail-1">
                <h3 id="harish">Harish Nomula</h3>
                <img  src="/assets/team/harish.jpg" alt="">
                <section> <strong>Software Architect </strong><hr>
                      <p>He is our chief Architect/business analyst of telangana places</p>
                       <a href="http://loverboy.herokuapp.com" class="btn btn-1">Explore More</a> </section>
                      </section>
              </div>
                </li>
            <li class="span3">
                  <div class="thumbnail thumbnail-1">
                <h3 id="#sai">Sai Kiran Sharma</h3>
                <img  src="/assets/team/saikiranmothe.jpg" alt="">
                <section> <strong>Sr.Ruby on Rails Engineer</strong><hr>
                      <p>He is a RAILS HACKER.He Says that "A LOT CAN HAPPEN OVER A COFFEE"</p>
                      <a href="http://saikiranmothe.herokuapp.com" class="btn btn-1">Explore More</a> </section>
              </div>
                </li>
            <li class="span3">
                  <div class="thumbnail thumbnail-1">
                <h3 id="vasista">Vasista Gattu </h3>
                <img  src="/assets/team/vasista.jpg" alt="">
                <section> <strong>Business men </strong><hr>
                      <p>He is our Business Men/loverboy of telangana,</p>
                      <a href="#" class="btn btn-1">Read More</a> </section>
              </div>
                </li>
            <li class="span3">
                  <div class="thumbnail thumbnail-1">
                <h3 class="title-1 extra" id="loading">Join us</h3>
                <img  src="/assets/team/joinus.jpg" alt="">
                <section> <strong>Be a part of Telangana Places ?</strong><hr>

                      <p>Join us and be a part of telangana yuvasena</p>
                      <a href="/jobs" class="btn btn-1">Read More</a> </section>
              </div>
                </li>
          </ul>
            </div>
      </div>
        </div>

  </div>
    </div>