  <!DOCTYPE html>
  <html lang="en">
      <head>
      <title>Districts</title>
      <meta charset="utf-8">

      
      <script type="text/javascript">if($(window).width()>1024){document.write("<"+"script src='js/jquery.preloader.js'></"+"script>");}  </script>
      <script>        
           jQuery(window).load(function() {   
           $x = $(window).width();        
      if($x > 1024)
      {           
      jQuery("#content .row").preloader();    }            
       jQuery('.magnifier').touchTouch();
           jQuery('.spinner').animate({'opacity':0},1000,'easeOutCubic',function (){jQuery(this).css('display','none')}); 
            }); 
                      
      </script>

      <!--[if lt IE 8]>
          <div style='text-align:center'><a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="http://www.theie6countdown.com/img/upgrade.jpg"border="0"alt=""/></a></div>  
      <![endif]-->
      <!--[if (gt IE 9)|!(IE)]><!-->
      <!--<![endif]-->
      <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <link rel="stylesheet" href="css/docs.css" type="text/css" media="screen">
      <link rel="stylesheet" href="css/ie.css" type="text/css" media="screen">
      <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Open+Sans:400' rel='stylesheet' type='text/css'>
    <![endif]-->
      </head>

      <body>
  <div class="spinner"></div>
  <!--============================== header =================================-->

  <div class="bg-content">       
    <!--============================== content =================================-->      
        <div id="content"><div class="ic"></div>
      <div class="container">
            <div class="row">
          <article class="span12">
          <h3 class="text-center">Districts</h3>


     


          <hr>
           </article>
          <div class="clear"></div>
           <ul class="portfolio clearfix">           

        
            <% District.latest.each do |district| %>
       
             <li class="box">
                  <h1 class="text-center"><%= district.name %></h1>
                   <hr> 
                  <a href="<%= district.website %>" class="magnifier" >
                  <img alt="<%= district.name %>" src="<%= district.remote_image_url %>"></a>
              </li> 
             <% end %>                                  
              </ul> 
        </div>
          </div>
    </div>
      </div>

  </body>
  </html>